<form method="POST">
	<div class="mb-3">
		<label class="form-label">
			Username
			<input type="text" class="form-control" name="username">
		</label>
	</div>
	<div class="mb-3">
		<label class="form-label">
			Password
			<input type="password" class="form-control" name="password">
		</label>
	</div>
	<button type="button" class="btn btn-primary login">Submit</button>
</form>

<script>
	async function fetchLogin(event) {
		event.preventDefault();
		var formData = new FormData(document.querySelector('form'));
		const username = formData.get("username");
		const password = formData.get("password");
	
		try {
			const response = await fetch('https://localhost:8443/api/login/', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json',
					// 'X-CSRFToken': csrfToken,
				},
				body: JSON.stringify({username: username,password: password}),
			});
			if (!response.ok){
				data = await response.json();
				console.log(data);
				AddAlert('Error on login. Try again.')
				document.querySelector("Form").reset();
			}
			else {
				window.history.pushState({}, "", '/home');
				fetchBody();
				updateNavbar();
			}
		}
		catch (error) {
			console.error(`${error}`);
		}
	}

document.addEventListener('click', function(event) {
	if (event.target && event.target.classList.contains('login'))
		fetchLogin(event);
})

</script>